body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/returnwallet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.top-bar {
    background-color: #ff5858 !important;
}

.nav-buttons a {
    text-decoration: none;
    color: white !important;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.nav-buttons a:hover {
    background-color: #740000;
}

.content {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

img.findtherelogo {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; 
    margin-bottom: 70px;
}

.content-homepage {
    background-color: rgba(173, 164, 164, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-homepage p {
    margin-bottom: 15px;
    line-height: 1.5;
}

footer {
    background-color: #808080;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

h1 {
    margin-top: 40px;
    text-align: center; /* Center-align the text */
    color: #f5f5f5; /* Set text color to white */
    font-family: 'forum', serif;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

label {
    font-weight: bold;
    display: none !important;
}

input[type="file"] {
    border: none;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #cc0000;
    color: #fff;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="details"],
input[type="file"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.return-button {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px; /* Add some top margin for spacing */
    cursor: pointer;
}

.return-button:hover {
    background-color: #990000; /* Darker red on hover */
}

.search-bar {
    text-align: center; /* Center-align the search bar */
    margin-bottom: 20px; /* Add space between the search bar and paragraph */
}

.search-input {
    padding: 10px; /* Increase padding for a longer input field */
    border: none;
    border-radius: 50px;
    width: 70%; /* Make the input field longer */
    max-width: 400px; /* Limit the maximum width */
    background-color: lightgray;
}

.search-button {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Increase padding for a larger button */
    margin-left: 10px;
    cursor: pointer;
}

.content {
    padding: 20px;
    margin-top: 50px;
    text-align: center; /* Center-align content */
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-box p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.content-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
}

.item-container {
    border: 1px solid #ccc !important;
    padding: 10px;
    margin: 10px; /* Add margin to create space around each grid item */
}